@using TestApp.Domain
@using TestApp.Mvc.Models
@model TestApp.Application.Machines.Queries.GetMachineDetails.MachineDetailsVm


@{
    ViewBag.Title = "DrinkShop";
    Layout = "_Layout";
}

@{
    var cardStyle = "col-sm-4";

}

<style>
    .card-buttons-group {
        text-align: right;
        padding: 10px;
    }
</style>







<style>
    table {
        table-layout: fixed;
    }
</style>

@if (Model.Login == true)
{
    <button type="button" name="onebtn" id="onebtn" class='btn btn-success' onclick="one()">1</button>
    <button type="button" name="twobtn" id="twobtn" class='btn btn-success' onclick="two()">2</button>
    <button type="button" name="fivebtn" id="fivebtn" class='btn btn-success' onclick="five()">5</button>
    <button type="button" name="tenbtn" id="tenbtn" class='btn btn-success' onclick="ten()">10</button>

    <br />
    <br />

    <button class='btn btn-success' id='addDrinkId'>Добавить</button>

    <div style="padding: 10px;"></div>
    @if (Model == null)
    {
        <div class="card col-md-12">
            <div class="row g-0">

                <div class="col-md-12">
                    <div class="card-body">
                        <h5 class="card-title text-center">Торговый автомат пуст</h5>
                        <h5 class="card-title text-center">Ассортимент пополнится позже</h5>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            @foreach (var drink in Model.Drinks)
            {
                <div class="row row-cols-1 @cardStyle text-center">
                    <div class="col" style="padding: 50px;">
                        <div class="card">

                            <center><img onclick="sweet()" src="data:image/jpeg;base64,@Convert.ToBase64String(drink?.Avatar ?? Array.Empty<byte>())" alt="@drink.Name" style="width:150px;height:150px"> </center>


                            <div class="card-body">
                                <h5 class="card-title">Название: @drink.Name</h5>
                                <p class="card-text">Количество: @drink.Quantity</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Стоимость: @drink.Price ₽</li>

                            </ul>
                            <div class="card-body">
                                <button class="btn btn-success" onclick="openModal({ url: '/Drink/Update', data: '@drink.Id'}) "
                                data-toggle="ajax-modal" data-target="Modal">
                                    Изменить
                                </button>
                                <br>
                                <br>
                                <form method="post">
                                    <button class="btn btn-success" asp-controller="Drink" asp-action="Delete" asp-route-id="@drink.Id">Удалить</button>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
}
@section pageScripts {



    <script src="~/js/modal.js"></script>
    <script>
        let modal = $('#modalWhButtons');



        $('#addDrinkId').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'GET',
                url: '/Drink/Create',
                success: function (response) {
                    $('.modal-dialog').removeClass("modal-lg");
                    modal.find(".modal-body").html(response);
                    modal.modal('show')

                },


                failure: function () {
                    modal.modal('hide')
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

        });

    </script>
    <script src="~/js/modal.js"></script>
    <script>
        let modal = $('#modalWhButtons');



        $('#updDrink').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'GET',
                url: '/Drink/Update',
                success: function (response) {
                    $('.modal-dialog').removeClass("modal-lg");
                    modal.find(".modal-body").html(response);
                    modal.modal('show')

                },


                failure: function () {
                    modal.modal('hide')
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

        });

    </script>

    <script>
        function one() {

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("Summ").innerHTML =
                        this.responseText;
                }
            };

            xhttp.open("POST", "/Coin/Block", true);
            xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

            xhttp.send('value=1');
        }
    </script>
    <script>
        function two() {

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("Summ").innerHTML =
                        this.responseText;
                }
            };

            xhttp.open("POST", "/Coin/Block", true);
            xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

            xhttp.send('value=2');
        }
    </script>
    <script>
        function five() {

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("Summ").innerHTML =
                        this.responseText;
                }
            };

            xhttp.open("POST", "/Coin/Block", true);
            xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

            xhttp.send('value=5');
        }
    </script>
    <script>
        function ten() {

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("Summ").innerHTML =
                        this.responseText;
                }
            };

            xhttp.open("POST", "/Coin/Block", true);
            xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

            xhttp.send('value=10');
        }
    </script>
}